<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#services" class="scrolly">Services</a></li>
            <li><a href="#portfolio" class="scrolly">Portfolio</a></li>
            <li><a href="#contact-me" class="scrolly">Contact Me</a></li>
            <li><span style="float:left; vertical-align:middle;" class="icon fa-instagram">&nbsp;</span><span><a href="https://www.instagram.com/oj_visual_merch/" target="_blank" class="scrolly">Instagram</a></span></li>
            <li><span style="float:left; vertical-align:middle;" class="icon fa-linkedin">&nbsp;</span><span><a href="https://www.linkedin.com/in/oliver-janaway-37bb9b75/" target="_blank" class="scrolly">LinkedIn</a></span></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
