// @media only screen and (min-width: 769px){
// #instafeed img, #instafeed video {
// 	display: inline;
// 	object-fit: cover;
// 	height: 20vw;
// 	width: 100%;
// 	margin-bottom: 10px;
// 	}
// }

#instafeed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


.instaimg img { margin-bottom:30px; max-width: 100%; object-fit: cover; }

.instaimg a { border-bottom: none !important; }

.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
}

.instaimg img:hover {
  opacity:0.8;
  -moz-opacity:0.8;
  -webkit-opacity:0.8;
}

.instaimg img:a {
  border-bottom: none;
}

.instaimg {
  position: relative;
}

h2 span {
  position: absolute;
  left: 0;
  font-size: 1rem;
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

button.mfp-close:hover {
  background-color: transparent;
}

#cta .quoted { float: right; font-weight: 800; font-style: italic; }
